<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body xmlns:th="http://www.thymeleaf.org">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="3508" height="2480" viewBox="0 0 3508 2480">
  <defs>
    <clipPath id="clip-path">
      <use id="Слой_0_копия" data-name="Слой 0 копия" xlink:href="#image" style="mix-blend-mode: hard-light;isolation: isolate"/>
    </clipPath>
    <clipPath id="clip-Canvas_5">
      <rect width="3508" height="2480"/>
    </clipPath>
    <image id="image" width="3508" height="2480" xlink:href="https://storage.yandexcloud.net/thelak-storage/SMTP/canvas5.png"/>
  </defs>
  <g id="Canvas_5" data-name="Canvas – 5" clip-path="url(#clip-Canvas_5)">
    <rect width="3508" height="2480" fill="rgba(0,0,0,0)"/>
    <g id="_1_год" data-name="1 год">
      <g id="фон">
        <image id="Слой_31" data-name="Слой 31" width="4662" height="3108" transform="translate(-577 -382)" xlink:href="https://storage.yandexcloud.net/thelak-storage/SMTP/sloi31.png" style="mix-blend-mode: hard-light;isolation: isolate"/>
        <image id="Слой_33" data-name="Слой 33" width="5696" height="3889" transform="translate(-1094 -1409)" xlink:href="https://storage.yandexcloud.net/thelak-storage/SMTP/sloi33.png" style="mix-blend-mode: color-dodge;isolation: isolate"/>
        <image id="Слой_33_копия" data-name="Слой 33 копия" width="5696" height="4135" transform="translate(-1094 -1409)" xlink:href="https://storage.yandexcloud.net/thelak-storage/SMTP/sloi33_copy.png"/>
        <g id="Слой_0_копия-2" data-name="Слой 0 копия" style="mix-blend-mode: hard-light;isolation: isolate">
          <use id="Слой_0_копия-3" data-name="Слой 0 копия" xlink:href="#image" style="mix-blend-mode: hard-light;isolation: isolate"/>
          <g id="Clip" clip-path="url(#clip-path)">
            <image id="Слой_36" data-name="Слой 36" width="3148" height="2480" transform="translate(180)" xlink:href="https://storage.yandexcloud.net/thelak-storage/SMTP/sloi36.png" style="mix-blend-mode: multiply;isolation: isolate"/>
          </g>
        </g>
        <g id="Прямоугольник_3" data-name="Прямоугольник 3" transform="translate(99 99)" fill="none" stroke="#fff" stroke-width="7.41" opacity="0.451" style="mix-blend-mode: soft-light;isolation: isolate">
          <rect width="3310" height="2282" rx="47" stroke="none"/>
          <rect x="3.705" y="3.705" width="3302.59" height="2274.59" rx="43.295" fill="none"/>
        </g>
      </g>
      <g id="шапка">
        <text id="ПЕРВЫЙ_ОНЛАЙН_КИНОТЕАТР_ДЛЯ_ПРЕДПРИНИМАТЕЛЕЙ" data-name="ПЕРВЫЙ ОНЛАЙН КИНОТЕАТР
ДЛЯ ПРЕДПРИНИМАТЕЛЕЙ" transform="matrix(1, 0, 0, 1, 3309.546, 254.77)" fill="#fff" font-size="65" font-family="Roboto-Bold, Roboto" font-weight="700" letter-spacing="0.05em"><tspan x="-1019.427" y="0">ПЕРВЫЙ ОНЛАЙН КИНОТЕАТР</tspan><tspan x="-911.828" y="80">ДЛЯ ПРЕДПРИНИМАТЕЛЕЙ</tspan></text>
        <g id="лого" transform="translate(197.263 199)">
          <image id="Слой_11" data-name="Слой 11" width="759.474" height="143.684" xlink:href="https://storage.yandexcloud.net/thelak-storage/SMTP/logo.png"/>
        </g>
      </g>
      <g id="поле">
        <g id="Прямоугольник_1" data-name="Прямоугольник 1" transform="translate(1830 1693.57)" fill="#5b5b68" stroke="#4b4c71" stroke-width="4.68" stroke-dasharray="18.72 9.36" opacity="0.6">
          <rect width="1479" height="588.43" rx="39" stroke="none"/>
          <rect x="2.34" y="2.34" width="1474.32" height="583.75" rx="36.66" fill="none"/>
        </g>
        <text id="ПОЛЕ_ДЛЯ_СООБЩЕНИЯ" data-name="ПОЛЕ ДЛЯ СООБЩЕНИЯ" transform="matrix(1, 0, 0, 1, 2569.001, 2001.224)" fill="#fff" font-size="37.5" font-family="Roboto-Bold, Roboto" font-weight="700" letter-spacing="0.05em"><tspan x="-230.739" y="0" th:text="${description}"></tspan></text>
      </g>
      <g id="левый_блок" data-name="левый блок">
        <g id="промокод">
          <rect id="Прямоугольник_2" data-name="Прямоугольник 2" width="667.16" height="126" rx="39" transform="translate(200.04 1688)" fill="#5b5b68" opacity="0.4"/>
          <text id="ПРОМОКОД-2" data-name="ПРОМОКОД" transform="matrix(1, 0, 0, 1, 534.001, 1771.224)" fill="#fff" font-size="60" font-family="Roboto-Bold, Roboto" font-weight="700" letter-spacing="0.05em"><tspan x="-180.363" y="0" th:text="${description}"></tspan></text>
        </g>
        <g id="правила">
          <path id="Shape_1" data-name="Shape 1" d="M709.146,2013.673l-13.151-13.142a2,2,0,0,0-2.819,0l-1.194,1.193a1.978,1.978,0,0,0-.581,1.408,2.016,2.016,0,0,0,.581,1.425l7.672,7.683H675.279a1.945,1.945,0,0,0-1.968,1.958v1.687a2.019,2.019,0,0,0,1.968,2.045h24.462l-7.759,7.726a1.972,1.972,0,0,0,0,2.8l1.194,1.19a2,2,0,0,0,2.819,0l13.151-13.142a2.007,2.007,0,0,0,0-2.827Z" transform="translate(-31)" fill="#fff"/>
          <path id="Shape_1_копия" data-name="Shape 1 копия" d="M1182.481,2013.673l-13.151-13.142a2,2,0,0,0-2.819,0l-1.194,1.193a1.977,1.977,0,0,0-.582,1.408,2.016,2.016,0,0,0,.582,1.425l7.672,7.683h-24.375a1.944,1.944,0,0,0-1.967,1.958v1.687a2.019,2.019,0,0,0,1.967,2.045h24.462l-7.759,7.726a1.971,1.971,0,0,0,0,2.8l1.194,1.19a2,2,0,0,0,2.819,0l13.151-13.142a2.007,2.007,0,0,0,0-2.827Z" transform="translate(-57)" fill="#fff"/>
          <text id="ПРАВИЛА_ИСПОЛЬЗОВАНИЯ" data-name="ПРАВИЛА ИСПОЛЬЗОВАНИЯ" transform="matrix(1, 0, 0, 1, 199, 1932.224)" fill="#5b5b68" font-size="50" font-family="Roboto-Bold, Roboto" font-weight="700"><tspan x="0" y="0">ПРАВИЛА ИСПОЛЬЗОВАНИЯ</tspan></text>
          <text id="ЗАЙТИ_НА_THELAK.COM" data-name="ЗАЙТИ НА THELAK.COM" transform="matrix(1, 0, 0, 1, 199, 2027.224)" fill="#fff" font-size="35" font-family="Roboto-Bold, Roboto" font-weight="700" letter-spacing="0.02em"><tspan x="0" y="0">ЗАЙТИ НА </tspan><tspan y="0">THELAK.COM</tspan></text>
          <text id="ВВЕСТИ_ПРОМОКОД" data-name="ВВЕСТИ ПРОМОКОД" transform="matrix(1, 0, 0, 1, 709, 2027.224)" fill="#fff" font-size="35" font-family="Roboto-Bold, Roboto" font-weight="700" letter-spacing="0.02em"><tspan x="0" y="0">ВВЕСТИ ПРОМОКОД</tspan></text>
          <text id="ЗАРЕГИСТРИРОВАТЬСЯ" transform="matrix(1, 0, 0, 1, 1157, 2026.224)" fill="#fff" font-size="35" font-family="Roboto-Bold, Roboto" font-weight="700" letter-spacing="0.02em"><tspan x="0" y="0">ЗАРЕГИСТРИРОВАТЬСЯ</tspan></text>
        </g>
      </g>
      <g id="инфа">
        <text id="ПОДАРОЧНЫЙ_СЕРТИФИКАТ" data-name="ПОДАРОЧНЫЙ СЕРТИФИКАТ" transform="matrix(1, 0, 0, 1, 1749.679, 636.524)" fill="#fff" font-size="110" font-family="Roboto-Bold, Roboto" font-weight="700" letter-spacing="0.05em"><tspan x="-821.938" y="0">ПОДАРОЧНЫЙ СЕРТИФИКАТ</tspan></text>
        <text id="НА_1_МЕСЯЦ" data-name="НА 1 МЕСЯЦ" transform="matrix(1, 0, 0, 1, 2200.679, 816.524)" fill="#fff" font-size="110" font-family="Roboto-Bold, Roboto" font-weight="700" letter-spacing="0.05em"><tspan x="-821.938" y="0">НА 1 МЕСЯЦ</tspan></text>
        <g id="Сгруппировать_3" data-name="Сгруппировать 3">
          <rect id="Прямоугольник_4" data-name="Прямоугольник 4" width="1579.59" height="148.57" rx="36" transform="translate(960.56 938.26)" fill="#5b5b68" opacity="0.4"/>
          <text id="ПОМИДОРОВУ_ЮРИЮ_ЮРЬЕВИЧУ" data-name="ПОМИДОРОВУ ЮРИЮ ЮРЬЕВИЧУ" transform="matrix(1, 0, 0, 1, 1750.305, 1039.069)" fill="#fff" font-size="79.167" font-family="Roboto-Medium, Roboto" font-weight="500" letter-spacing="0.08em"><tspan x="-709.395" y="0" th:text="${description}"></tspan></text>
          <text id="Выбирайте_из_более_чем_1_000_часов_развивающего_видеоконтента_от_ТОП_спикеров_России_и_мира_из_любой_точки_планеты" data-name="Выбирайте из более чем 1 000 часов развивающего 
видеоконтента от ТОП спикеров России 
и мира из любой точки планеты" transform="translate(1749.687 1213.73)" fill="#c4c1dd" font-size="60" font-family="Roboto-Regular, Roboto" letter-spacing="0.05em"><tspan x="-815.725" y="0">Выбирайте из более чем 1 000 часов развивающего </tspan><tspan x="-629.215" y="83.333">видеоконтента от ТОП спикеров России </tspan><tspan x="-496.98" y="166.667">и мира из любой точки планеты</tspan></text>
        </g>
      </g>
    </g>
  </g>
</svg>
<body>
</html>